<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main{
        display: flex;
        justify-content:space-around;
    }
    table{
        border: 1px solid black;
        padding:20px;
    }
</style>
<body>
    <form action='create/dojo' method='POST'>
    <div class="main">
        <div class='left'>
            <h1>New Dojo</h1>
            <label for="fn">Name:</label>
            <input type="text" name="fn"><br><br>
            <input type="submit" value="Create">
        </div>
        <div class='right'>
            <h1>All Dojos</h1>
            <table>
                {% for dojo in dojos %}
                <tr>
                    <td><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></td>
                </tr>
                {% endfor %}   
            </table>
            <a href="/">Add Ninja</a>
        </div>
    </div>
    </form>    
</body>
</html>